.description {
    margin-top: 2cm;
    text-align: center;
}

.faces {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    zoom: .5;
}

.face {
    margin: 1cm;
}

.face h3 {
    text-align: center;
    font-size: 2cm;
    margin: .5cm;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: solid 1cm brown;
}

.faces-23 .background {
    height: 23cm;
    width: 23cm;
}

.faces-50 .background {
    height: 50cm;
    width: 50cm;
}

.line {
    display: flex;
}

.char {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    color: rgb(75, 75, 75);
}

.char.highlight {
    color: white;
}

.faces-23 .char {
    width: 1.4cm;
    height: 2.3cm;
    font-size: 1.2cm;
}

.faces-23 .char.highlight {
    text-shadow: 0 0 .3cm white;
}

.faces-50 .char {
    width: 3cm;
    height: 5.1cm;
    font-size: 2.6cm;
}

.faces-50 .char.highlight {
    text-shadow: 0 0 .5cm white;
}

.tick {
    position: absolute;
    right: 0;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
